.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn {
    display: block;
    width: 100%;
  }
  .btn.btn-primary:disabled{
    cursor: not-allowed;
  }

  form{
    width: 50%;
  }